/* Font setting */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: Miama;
  src: url(../font/Miama.ttf);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Shared color */
:root {
  --text1: rgba(255, 255, 255, 1);
  --text2: rgba(255, 255, 255, 0.5);
  --text3: rgba(255, 255, 255, 0.6);
  --text3: rgba(255, 255, 255, 0.1);
  --text4: rgba(0, 0, 0, 1);
  --border1: rgba(255, 255, 255, 0.1);
  --primary: rgb(230, 83, 60);
  --bg1: rgba(0, 0, 0, 1);
  --bg2: rgba(34, 34, 34, 1);
  --bg3: rgba(48, 48, 48, 0.54);
  --bg4: rgba(255, 255, 255, 0.1);
  /* --bg5: */
  --overlay-teal: rgba(6, 255, 210, 0.5);
  --overlay-red: rgba(255, 0, 0, 0.3);
  --overlay-black: rgba(0, 0, 0, 0.5);
  --overlay-green: rgba(66, 255, 0, 0.3);
  --overlay-blue: rgba(0, 71, 255, 0.3);
}

/* Body style here  */
body {
  background-color: var(--bg1);
}

/* Shared font style */
h1 {
  font-size: 4.875rem;
  line-height: 5.85rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 900;
}

h3 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 900;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.87rem;
  font-weight: 900;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

/* Shared input style */
::placeholder {
  color: var(--text2);
}

input[type="text"] {
  background-color: var(--bg4);
  color: var(--text2);
  border: none;
  outline: none;
  height: 48px;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  display: block;
}

select {
  background-color: var(--bg4);
  color: var(--text2);
  border: none;
  outline: none;
  height: 48px;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  display: block;
  appearance: none;
  background-image: url(../icons/icon-chevron-down.svg);
  background-repeat: no-repeat;
  /* background-size: 1rem; */
  background-position: calc(100% - 1rem) center;
}

/* Shared button style  */
.btn-primary {
  color: var(--text1);
  background-color: var(--primary);
  padding: 16px 40px;
  font-size: 1.125rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.btn-secondary {
  color: var(--text1);
  background-color: var(--bg4);
  padding: 16px 40px;
  font-size: 1.125rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--text1);
  cursor: pointer;
}

/* Shared global style */
.container {
  max-width: 1060px;
  margin: 0 auto;
}

/* Header style here */
header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%),
    #000;
}

/* Navigation style here */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.navlink-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 25px;
}

.navlinks .navitem {
  list-style-type: none;
}

.navlinks {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  text-decoration: none;
  font-size: 18px;
  color: var(--text1);
  display: inline-block;
  padding: 8px 20px;
  border-radius: 25px;
}

.navlinks .active {
  background-color: var(--primary);
  padding: 8px 20px;
  border-radius: 25px;
}

.navlink-menu {
  cursor: pointer;
  display: none;
}

/* hero style */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.hero-left {
  width: 50%;
}

.hero-title {
  color: var(--text1);
  margin-bottom: 24px;
}

.hero-emphasis {
  font-family: Miama;
  font-weight: 100;
  font-size: 9rem;
}

.hero-description {
  color: var(--text2);
  margin-bottom: 24px;
}

.hero-btn-container {
  display: flex;
  gap: 12px;
}

.hero-right {
  position: relative;
}

.workout,
.video {
  position: absolute;
  border-radius: 12px;
  border: 1px solid var(--border1);
  background: var(--bg3);
  backdrop-filter: blur(10px);
  padding: 20px 24px;
}

.video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  bottom: 64px;
  left: -100px;
}

.workout {
  top: 128px;
  right: -100px;
}

.workout-title,
.video-title {
  margin-bottom: 3px;
  color: var(--text1);
}

.workout-description,
.video-description {
  color: var(--text2);
}

/* Habits styles here */
.habits {
  margin-top: 96px;
  margin-bottom: 96px;
}
.habit-content {
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.habit-title {
  color: var(--text1);
  text-align: center;
  margin-bottom: 12px;
}

.habit-description {
  color: var(--text2);
  text-align: center;
}

.habit-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}

.habit-card {
  max-width: 231px;
  text-align: center;
}

.card-image-container {
  margin-bottom: 32px;
}
.card-image-container img {
  border-radius: 50%;
  border: 4px solid var(--bg4);
}

.card-title {
  color: var(--text1);
  margin-bottom: 8px;
}

.card-description {
  color: var(--text2);
}

/* extra mile card style here */
.extramile {
  background-color: var(--bg2);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 96px;
}

.extramile-content {
  max-width: 443px;
}

.extramile-content .btn-primary {
  width: 234px;
}
.extramile-title {
  color: var(--text1);
  margin-bottom: 14px;
}

.extramile-description {
  color: var(--text2);
  margin-bottom: 34px;
}

.extramile-image {
  width: 366px;
  height: 312px;
  background: url(../images/run-extra-mile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-position: top right;
}

.extramile-image img {
  max-width: 100%;
}

/* Trainings and exercise */
.training-content {
  width: 70%;
}

.training-title {
  color: var(--text1);
  margin-bottom: 16px;
}

.training-description {
  color: var(--text2);
  margin-bottom: 64px;
}

.training-types {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.training-type {
  height: 200px;
  padding: 24px;
  display: flex;
}

.training-designation {
  color: var(--text1);
}

.training-1 {
  grid-column: span 3;
  background: linear-gradient(
      0deg,
      rgba(6, 255, 210, 0.5) 0%,
      rgba(6, 255, 210, 0.5) 100%
    ),
    url(../images/exercise1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: end;
}

.training-1 .training-designation {
  color: var(--text4);
}
.training-2 {
  grid-column: span 6;
  background: linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.3) 0%,
      rgba(255, 0, 0, 0.3) 100%
    ),
    url(../images/exercise2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom bottom;
  justify-content: flex-start;
  align-items: flex-start;
}

.training-3 {
  grid-column: span 3;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/exercise3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  justify-content: flex-start;
  align-items: flex-end;
}

.training-4 {
  grid-column: span 5;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/exercise4.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-start;
}

.training-5 {
  grid-column: span 3;
  background: linear-gradient(
      0deg,
      rgba(66, 255, 0, 0.3) 0%,
      rgba(66, 255, 0, 0.3) 100%
    ),
    url(../images/exercise5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-end;
}
.training-6 {
  grid-column: span 4;
  background: linear-gradient(
      0deg,
      rgba(0, 71, 255, 0.3) 0%,
      rgba(0, 71, 255, 0.3) 100%
    ),
    url(../images/exercise6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  justify-content: flex-start;
  align-items: flex-end;
}

/* BMI calculator style here */
.BMI-calculation .container {
  display: flex;
  justify-content: space-between;
  gap: 180px;
}

.BMI {
  margin-top: 88px;
  margin-bottom: 88px;
}
.BMI-content-container {
  max-width: 670px;
  margin: 0 auto;
}

.BMI-title {
  color: var(--text1);
  margin-bottom: 14px;
}

.BMI-description {
  color: var(--text2);
}

.BMI-calculation {
  background-color: var(--bg2);
  margin-top: 88px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.BMI-chart-title {
  color: var(--text1);
  margin-bottom: 52px;
}

.BMI-chart-table {
  width: 310px;
}

.BMI-chart-table,
.BMI-chart-table th,
.BMI-chart-table td {
  border: 1px solid var(--border1);
  text-align: left;
  padding: 12px 24px;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 400;
  color: var(--text2);
}

.BMI-chart-table th {
  font-size: 16px;
  font-weight: 400;
  color: var(--text1);
}

.BMI-calculate {
  width: 100%;
}

.BMI-calculate-content {
  margin-bottom: 32px;
}

.BMI-calculate-title {
  color: var(--text1);
  margin-bottom: 14px;
}

.BMI-calculate-description {
  color: var(--text2);
}

.form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

#activity {
  grid-column: span 2;
}

#calculate {
  margin-top: 32px;
}

/* Meet our team style here */
.teams {
  margin-top: 88px;
  margin-bottom: 88px;
}

.teams-content {
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.teams-title {
  color: var(--text1);
  text-align: center;
  margin-bottom: 12px;
}

.teams-description {
  color: var(--text2);
  text-align: center;
}

.team-cards-container {
  padding: 20px;
  background-color: var(--bg4);
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.team-member {
  height: 272px;
  padding: 16px;
  border-radius: 18px;
}

.team-member-title {
  color: var(--text1);
  margin-bottom: 4px;
}

.team-member-designation {
  color: var(--text2);
}

.member-1 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/trainer1.png);
  background-repeat: none;
  background-size: cover;
  order: 1;
}

.member-2 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/trainer2.png);
  background-repeat: none;
  background-size: cover;
  order: 2;
}
.member-3 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/trainer3.png);
  background-repeat: none;
  background-size: cover;
  order: 3;
}

.member-4 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/trainer4.png);
  background-repeat: none;
  background-size: cover;
  background-position: top center;
  order: 4;
}

.member-5 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/trainer5.png);
  background-repeat: none;
  background-size: cover;
  order: 5;
}

.member-6 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/trainer6.png);
  background-repeat: none;
  background-size: cover;
  order: 6;
}

.team-member-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

/* Blog style here */
.blog-content {
  width: 70%;
}

.blog-title {
  color: var(--text1);
  margin-bottom: 16px;
}

.blog-description {
  color: var(--text2);
  margin-bottom: 48px;
}

.blog-cards {
  display: flex;
  gap: 24px;
}

.blog-card {
  color: var(--text1);
}

.blog-card > img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 12px;
}

.blog-card > h5 {
  margin-bottom: 8px;
}

.blog-card > p {
  color: var(--text2);
  margin-bottom: 24px;
}

.btn-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}

.btn-link img {
  width: 24px;
}
/* Footer style here */
footer {
  background-color: var(--bg4);
  padding-top: 80px;
  padding-bottom: 24px;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 80px;
}

.footer-company-description {
  width: 50%;
}
.footer-company-description > img {
  width: 256px;
  margin-bottom: 20px;
}

.footer-company-description > p {
  color: var(--text2);
  font-size: 14px;
  font-weight: 300;
}

.footer-links-container {
  width: calc(50% - 24px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links {
  color: var(--text1);
}

.footer-links h5 {
  margin-bottom: 24px;
}
.footer-links ul {
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: var(--text2);
  font-size: 20px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-copyright hr {
  opacity: 0.3;
  margin-bottom: 32px;
}

.footer-copyright > p {
  font-size: 20px;
  color: var(--text2);
  text-align: center;
  font-weight: 300;
}

/* Tablet responsive style here */
@media screen and (max-width: 992px) {
  .navlink-menu {
    display: block;
  }
  .navlink-container {
    display: none;
  }
  .container {
    margin: 0 32px;
  }
  .hero {
    flex-direction: column;
    margin-top: 80px;
  }
  .hero-left {
    width: 100%;
  }
  .hero-right {
    margin-top: 40px;
  }

  /* Habit style here */
  .habits {
    margin-top: 96px;
    margin-bottom: 96px;
  }
  .habit-cards-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .habit-card {
    margin-bottom: 40px;
  }
  .extramile-content {
    max-width: 263px;
  }
  /* Training and exercise */
  .training-5 {
    background-position: top center;
  }

  .training-4 {
    justify-content: flex-start;
    align-items: flex-end;
  }
  /* BMI style here */
  .BMI-content-container {
    max-width: 595px;
    margin: 0 32px;
  }

  .BMI-calculation {
    margin-top: 48px;
  }
  .BMI-calculation .container {
    flex-direction: column;
  }

  .BMI-chart-table {
    width: 100%;
  }

  .BMI-calculation .container {
    gap: 64px;
  }

  /* Teams style here */
  .team-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Recent blog style here */
  .blog {
    margin-top: 80px;
  }
  /* Footer content */
  .footer-content {
    flex-direction: column;
  }
  .footer-company-description {
    width: 100%;
  }
  .footer-links-container {
    width: 100%;
  }
  .footer-links {
    width: 50%;
  }
}

/* Mobile responsive style here */
@media screen and (max-width: 576px) {
  /* Shared style */
  h1 {
    font-size: 2.25rem;
    line-height: 2.7rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 1.9rem;
  }

  h4 {
    font-size: 1.134rem;
    line-height: 1.134rem;
  }

  /* Hero style */
  .hero-emphasis {
    font-size: 5rem;
  }
  .video {
    bottom: 250px;
    left: -50px;
  }
  .workout {
    top: 48px;
    right: -20px;
  }
  .workout-description,
  .video-description {
    font-size: 0.75rem;
  }
  /* Habit style here */
  .habits {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .habit-cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  /* Extra mile style here */
  .extramile {
    flex-direction: column;
  }
  .extramile-content {
    max-width: 100%;
  }
  .extramile-content .btn-primary {
    width: 100%;
  }
  .extramile-image {
    width: 100%;
    height: 170px;
  }

  /* Tranings and exercise styles here */
  .training-hide {
    display: none;
  }

  .training-1 {
    grid-column: span 6;
  }
  .training-2 {
    grid-column: span 6;
    background-position: top center;
  }

  .training-4 {
    grid-column: span 5;
  }
  .training-5 {
    grid-column: span 7;
  }

  /* Team style starts here */
  .team-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .member-hide {
    display: none;
  }
  .member-2 {
    order: 1;
  }
  .member-3 {
    order: 3;
  }
  .member-5 {
    order: 2;
  }
  .member-6 {
    order: 4;
  }

  /* Recent blog style here*/

  .blog-cards {
    flex-direction: column;
    gap: 32px;
  }

  /* Footer */
  .footer-links-container {
    flex-direction: column;
  }
  .footer-links {
    margin-bottom: 32px;
    width: 100%;
  }
  .footer-links {
    margin-bottom: 24px;
  }
  .footer-content {
    margin-bottom: 24px;
  }
}
